.header {
  height: 60px;
  display: flex;
  place-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
  overflow: hidden;
}

.header__logo {
  min-width: 10px;
  max-width: 100px;
  border: 1px solid transparent;
  border-radius: 2px;
  object-fit: contain;
  margin: 5px 3px 3px 3px;
  padding: 10px 10px 0px 10px;
  transition: ease-in-out, border .20s ease-in-out;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 4px 0px 0px 4px;
}

.header__searchInput:focus{
  outline : none;
  border : none;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #f0c14b;
  border-radius: 0px 4px 4px 0px;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  border: 1px solid transparent;
  border-radius: 2px;
  transition: ease-in-out, border .20s ease-in-out;
  margin-top: 5px;
  margin-right: 5px;
  padding: 3px;
}

.header__basketCount {
  align-items: center;
  margin-left: 5px;
  margin-right: 0px;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
  padding: 3px;
  color: white;
  border: 1px solid transparent;
  border-radius: 2px;
  transition: ease-in-out, border .20s ease-in-out;
}

a {
  text-decoration: none;
}

.header__logo:hover {
  border: 1px solid white;
  border-radius: 2px;
  }

.header__option:hover {
  border: 1px solid white;
  border-radius: 2px;
}

.header__optionBasket:hover {
  border: 1px solid white;
  border-radius: 2px;
}

.header__searchIcon:hover {
  background-color: #fca82a;
}